/*Bootstrap Overrides*/

body {
    /*not a fan of this override from a style standpoint, but followed the instructions*/
    background-color: rgb(237, 237, 237);
    color: rgb(48, 48, 48);
}

a {
    color: darkred;
    text-decoration: none;
}

a:hover {
    color: grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(48, 48, 48);
}

.nav-pills .nav-link.active {
    background-color: white;
    color: darkred;
    font-weight: bolder;
    font-size: 20px;
}

.nav-link {
    color: white;
    font-weight: bolder;
    font-size: 20px;
    margin: 10px;
}

.nav-link:hover {
    color: grey;
    background-color: white;
}


/*Custom Classes and IDs*/

.divider {
    width: 80px;
    height: 7px;
    background-color: darkred;
    margin-bottom: 10px;
}

#photo-border {
    border: 1px solid gray;
}